/* fonts */

/* avenir-next */
/* regular */

@font-face {
    font-display: swap;
    font-family:"Avenir-next";
    src: local("Avenir-next regular"),
        url("../fonts/avenir-next/regular/avenirnextcyr-regular.eot"),
        url("../fonts/avenir-next/regular/avenirnextcyr-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/avenir-next/regular/avenirnextcyr-regular.woff2") format("woff2"),
        url("../fonts/avenir-next/regular/avenirnextcyr-regular.woff") format("woff"),
        url("../fonts/avenir-next/regular/avenirnextcyr-regular.ttf") format("truetype"),
        url("../fonts/avenir-next/regular/avenirnextcyr-regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

/* gilroy */
/* gilroylight */

@font-face {
    font-display: swap;
    font-family: "Gilroy";
    src: local("Gilroy light"),
        url("../fonts/gilroy/light/gilroy-light.eot"),
        url("../fonts/gilroy/light/gilroy-light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gilroy/light/gilroy-light.woff2") format("woff2"),
        url("../fonts/gilroy/light/gilroy-light.woff") format("woff"),
        url("../fonts/gilroy/light/gilroy-light.ttf") format("truetype"),
        url("../fonts/gilroy/light/gilroy-light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

/* gilroy regular */

@font-face {
    font-display: swap;
    font-family: "Gilroy";
    src: local("Gilroy regular"),
        url("../fonts/gilroy/regular/gilroy-regular.eot"),
        url("../fonts/gilroy/regular/gilroy-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gilroy/regular/gilroy-regular.woff2") format("woff2"),
        url("../fonts/gilroy/regular/gilroy-regular.woff") format("woff"),
        url("../fonts/gilroy/regular/gilroy-regular.ttf") format("truetype"),
        url("../fonts/gilroy/regular/gilroy-regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

/* gilroy medium */

@font-face {
    font-display: swap;
    font-family: "Gilroy";
    src: local("Gilroy medium"),
        url("../fonts/gilroy/medium/gilroy-medium.eot"),
        url("../fonts/gilroy/medium/gilroy-medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/gilroy/medium/gilroy-medium.woff2") format("woff2"),
        url("../fonts/gilroy/medium/gilroy-medium.woff") format("woff"),
        url("../fonts/gilroy/medium/gilroy-medium.ttf") format("truetype"),
        url("../fonts/gilroy/medium/gilroy-medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

/* ubuntu */
/* ubuntu regular */

@font-face {
    font-display: swap;
    font-family: "Ubuntu";
    src: local("Ubuntu regular"),
        url("../fonts/ubuntu/regular/ubuntu_regular.eot"),
        url("../fonts/ubuntu/regular/ubuntu_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ubuntu/regular/ubuntu_regular.woff2") format("woff2"),
        url("../fonts/ubuntu/regular/ubuntu_regular.woff") format("woff"),
        url("../fonts/ubuntu/regular/ubuntu_regular.ttf") format("truetype"),
        url("../fonts/ubuntu/regular/ubuntu_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

/* ubuntu bold */

@font-face {
    font-display: swap;
    font-family: "Ubuntu";
    src: local("Ubuntu bold"),
        url("../fonts/ubuntu/bold/ubuntu_bold.eot"),
        url("../fonts/ubuntu/bold/ubuntu_bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ubuntu/bold/ubuntu_bold.woff2") format("woff2"),
        url("../fonts/ubuntu/bold/ubuntu_bold.woff") format("woff"),
        url("../fonts/ubuntu/bold/ubuntu_bold.ttf") format("trietype"),
        url("../fonts/ubuntu/bold/ubuntu_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

/* inter */
/* inter regular */

@font-face {
    font-display: swap;
    font-family: "Inter";
    src: local("Inter regular"),
        url("../fonts/inter/regular/inter_regular.eot"),
        url("../fonts/inter/regular/inter_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/inter/regular/inter_regular.woff2") format("woff2"),
        url("../fonts/inter/regular/inter_regular.woff") format("woff"),
        url("../fonts/inter/regular/inter_regular.ttf") format("truetype"),
        url("../fonts/inter/regular/inter_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

/* lato */
/* lato extralight */

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: local("Lato extralight"),
        url("../fonts/lato/extralight/lato_extralight.eot"),
        url("../fonts/lato/extralight/lato_extralight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato/extralight/lato_extralight.woff2") format("woff2"),
        url("../fonts/lato/extralight/lato_extralight.woff") format("woff"),
        url("../fonts/lato/extralight/lato_extralight.ttf") format("truetype"),
        url("../fonts/lato/extralight/lato_extralight.svg") format("svg");
    font-weight: 200;
    font-style: normal;
}

/* lato light */

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: local("Lato light"),
        url("../fonts/lato/light/lato_light.eot"),
        url("../fonts/lato/light/lato_light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato/light/lato_light.woff2") format("woff2"),
        url("../fonts/lato/light/lato_light.woff") format("woff"),
        url("../fonts/lato/light/lato_light.ttf") format("truetype"),
        url("../fonts/lato/light/lato_light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

/* lato regular */

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: local("Lato regular"),
        url("../fonts/lato/regular/lato_regular.eot"),
        url("../fonts/lato/regular/lato_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato/regular/lato_regular.woff2") format("woff2"),
        url("../fonts/lato/regular/lato_regular.woff") format("woff"),
        url("../fonts/lato/regular/lato_regular.ttf") format("truetype"),
        url("../fonts/lato/regular/lato_regular.svg") format("svg");
    font-weight:400;
    font-style: normal;
}

/* lato medium */

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: local("Loto medium"),
        url("../fonts/lato/medium/lato_medium.eot"),
        url("../fonts/lato/medium/lato_medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato/medium/lato_medium.woff2") format("woff2"),
        url("../fonts/lato/medium/lato_medium.woff") format("woff"),
        url("../fonts/lato/medium/lato_medium.ttf") format("truetype"),
        url("../fonts/lato/medium/lato_medium.svg") foprmat("svg");
    font-weight: 500;
    font-style: normal;
}

/* lato bold */

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: local("Lato bold"),
        url("../fonts/lato/bold/lato_bold.eot"),
        url("../fonts/lato/bold/lato_bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato/bold/lato_bold.woff2") format("woff2"),
        url("../fonts/lato/bold/lato_bold.woff") format("woff"),
        url("../fonts/lato/bold/lato_bold.ttf") format("truetype"),
        url("../fonts/lato/bold/lato_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}


/* variables */

:root {
    --default-bg: #ffffff;
    --primary-bg: #00204a;

    --accent-link-bg: #f4d059;
    --accent-btn-bg: #f4d059;
    --primary-btn-bg: #00204a;

    --default-font-family: "Lato", sans-serif;
    --default-font-size: 14px;
    --default-font-weight: 300;

    --default-font-color: #00204a;
    --light-font-color: #ffffff;
    --dark-font-color: #000000;
}

.document {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    color: var(--default-font-color);
}

.document__page {
    position: relative;
}

.link {
    display: inline-block;

    text-align: center;
    white-space: nowrap;
}

.btn {
    display: inline-block;

    text-align: center;
    white-space: nowrap;
}


@media (min-width: 375px) {
    .page__wrapper {
        width: 100%;
        
        background: var(--default-bg);
    }

    .page__header {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 100;

        width: 100%;

        background: var(--default-bg);
    }

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        padding: 7.21px 10px 9.41px;
    }

    .logo__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .logo__img {
        flex: 1 0 40.42px;
        height: 24.74px;

        object-fit: contain;
    }

    .logo__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;

        margin-left: -5px;

        text-transform: uppercase;
    }

    .logo__lead {
        font-size: 1.1em;
        font-weight: 700;
        line-height: 1;
    }

    .logo__text {
        font-size: 0.4em;
        font-weight: 700;
        line-height: 1;
    }

    .header__nav {
        display: none;
    }

    .header__nav--active {
        position: absolute;
        left: 0;
        z-index: 100;

        display: block;

        width: 100%;
        height: 100vh;

        padding: 24.95px 10px;

        background: var(--default-bg);
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 28px;
    }

    .nav__list--insert {
        display: none;
    }

    .nav__list--insert-active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 23px;

        margin: 26.55px 15px 0;
    } 
    
    .nav__link {
        padding-left: 30px;
        
        font-size: 1.42em;
        font-weight: 400;
        line-height: 1;
    }

    .link--catalogue {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7.32px;

        width: 100%;

        padding: 5.84px;

        background: var(--accent-link-bg);

        line-height: 1.1;
        text-transform: uppercase;
        color: var(--dark-font-color);
    }

    .link__icon {
        width: 12px;
        height: 8px;
         
        fill: var(--dark-font-color);
    }

    .link__icon--nav {
        width: 10px; 
        height: 10px; 

        stroke: var(--primary-btn-bg);
    }

    .header__menu {
        flex: 0 0 23.14px;
        height: 14.61px;

        padding: 0;
        
        background: inherit;
    }

    .menu__line {
        position: relative;

        display: block;
        
        width: 100%;
        height: 1px;

        background: var(--primary-btn-bg);

        transition: background 0.3s ease-in;
    }

    .menu--open .menu__line {
        background: var(--default-bg);
    }

    .menu__line::before {
        content: "";
        
        position: absolute;
        left: 0;
        top: -7.31px;

        display: block;

        width: 100%;
        height: 100%;

        background: var(--primary-btn-bg);

        transition: transform 0.3s ease-in;
    }

    .menu--open .menu__line::before {
        transform: rotate(45deg) scale(1.25) translate(3px, 5px);
    }

    .menu__line::after {
        content: "";
        
        position: absolute;
        left: 0;
        bottom: -7.31px;

        display: block;

        width: 100%;
        height: 100%;

        background: var(--primary-btn-bg);

        transition: transform 0.3s ease-in;
    }

    .menu--open .menu__line::after {
        transform: rotate(-45deg) scale(1.25) translate(3px, -5px);
    }

    .slider__container {
        position: relative;
    }
    
    .slider__img-container {
        width: 100vw;
    }

    .slider__img {
        display: block;
        width: 100%;
    }

    .slider__item--hidden {
        display: none;
    }

    .controls__btn {
        position: absolute;
        top: 74.21px;
    }

    .controls__btn--prev {
        left: 0;
    }

    .controls__btn--next {
        right: 0;
    }

    .btn__icon {
        width: 5px;
        height: 9px; 
    }

    .btn__icon--reverse {
        transform: scaleX(-1);
    }

    .btn--control {
        width: 29.97px;
        height: 27.11px;
        
        background: var(--accent-btn-bg);
    }

    .slider__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12.93px;
        
        padding: 23.22px 10px 25.13px;
        
        background: var(--primary-bg);
    }

    .slider__text-container {
        font-size: 1.28em;
        font-weight: 500;
        line-height: 1.2;
        color: var(--light-font-color);
    }
}


