// .btn


.btn {
    display: inline-block;

    text-align: center;
    white-space: nowrap;

    @media screen and (min-width: 320px) {
        //.btn__icon
        &__icon {
            width: 5px;
            height: 9px;
            
            //.btn__icon--reverse
            &--reverse {
                transform: scaleX(-1);
            }
        }

        //.btn--control
        &--control {
            width: 29.97px;
            height: 27.11px;
            
            background: $accent-btn-bg;
        }

        //.btn--tab
        &--tab {
            position: relative;
    
            padding: 0.57em 2em 0.58em 1.31em;
    
            background: $default-bg;
            border: 1px solid $accent-btn-border;
            
            font-size: 0.92em;
            font-weight: 400;
            line-height: 2.33;
            text-transform: uppercase;
            color: $default-font-color;

            //.btn--tab::after
            &::after {
                content: "";
        
                position: absolute;
                right: 0;
                top: 0;
                z-index: 0;
        
                display: block;
        
                width: 9px;
                height: 100%;
        
                background: $accent-btn-bg;
            }
        }

        //.btn--tab-active::after
        &--tab-active::after {
            left: 0;
            width: 100%;
        }

        //.btn__text
    
        &__text {
            position: relative;
            z-index: 1;
        }

        //.btn--accent
        &--accent {
            padding: 0.75em 2.11em;
            
            background: $accent-btn-bg;
            border: 1px solid $accent-btn-border;

            //.btn--accent .btn__text
            & .btn__text {
                font-size: 1.14em;
                font-weight: 500;
                line-height: 1.5;
                color: $dark-font-color;
            }

            //.btn--accent .btn__icon
            & .btn__icon {
                width: 12px;
                height: 8px;
        
                fill: $secondary-bg;
            }
        }
        
        //.btn--circle
        &--circle {
            background: $accent-btn-bg;
            border: $accent-btn-border;
            border-radius: 50%;
        }
        
        //.btn--standart
        &--standart {
            padding: 0.75em 2.11em;
    
            background: $primary-btn-bg;
    
            font-size: 1.14em;
            font-weight: 500;
            line-height: 1.83;
            color: $light-font-color;
        }
    }
}