// .document

.document {
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    color: $default-font-color;

    // .document__page
    &__page {
        position: relative;

        min-width: 320px;

        font-family: $default-font-family;
        font-size: $default-font-size;
        font-weight: $default-font-weight;
        color: $default-font-color;
    }
}