// variables

// bg
$default-bg: #ffffff;
$primary-bg: #00204a;
$secondary-bg: #000000;
$light-mask-bg: rgba(255, 255, 255, 0.2);

// link-bg
$accent-link-bg: #f4d059;

// btn-bg
$accent-btn-bg: #f4d059;
$primary-btn-bg: #00204a;

// border
$accent-btn-border: #f4d059;
$accent-link-border: #00142f;

// shadow
$primary-shadow: #f5f5f5;

// font
$default-font-family: "Lato", sans-serif;
$default-font-size: 14px;
$default-font-weight: 300;

// font-color
$default-font-color: #00204a;
$light-font-color: #ffffff;
$dark-font-color: #000000;
